html, body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 35%;
}

#usuario, #password, #enviar{
    margin: 2%;
}

#usuario, #password{
    padding: 1.5%;
    border-radius: 8px;
    border: 1px solid grey;
}

#enviar{
    background-color: rgb(50, 50, 179);
    border: 0;
    padding: 2%;
    border-radius: 12px;
    color: white;
    cursor: pointer;
}